/* Gridler
   ========================================================================== */
   
.gridler {
	position: absolute;
	top:0;
	width:100%;
}

.gridler > div {
	margin: 0 auto;
	max-width:960px;
}

.gridler__item {
	background-color: rgba(102, 154, 170, 0.5);
	float: left;
	min-height:100%;
	width: calc-percent(61.666666667px, 960px);
	
	& + .gridler__item {
		margin-left: calc-percent(20px, 960px);
	}
}